 .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .icon {
    position: relative;
    width: 226px;
    height: 207px;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
    margin: auto auto;
  }

  form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 42px;
    background: #FEF6ED;
  }
  
  form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #d9d9d9;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 42px;
  }
  
  form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CC1BA;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 42px;
  }

  .register {
    background: #1a265a;
  }
  
  form button:hover, form button:active, form button:focus {
    background: #43A047;
  }

  h1 {
    text-align: center;
  }



  @media (max-width: 600px) {
    .login-container {
      width: 100%;
    }
  }
